html,
body {
    font-size: 40px;
    margin: 0;
    /* remove default margin */
    padding: 0;
    /* remove default padding */
    width: 100%;
    /* take full browser width */
    height: 100%;
    /* take full browser height*/
}

html {
    margin: 0 auto;
}

body {
    background-color: #f9f9f9;
    font-family: "rooneysans-medium";
}

h2 {
    font-size: 40px;
    font-family: "rooneysans-heavy-italic";
    cursor: default;
}

p {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: #6772e5;
    transition: all .15s ease;
}

a:hover {
    color: #3c42a0;
}

.screen {
    font-size: 0.5em;
    margin: 0;
    /*background-color: red;*/
    position: absolute;
    width: 100%;
    height: 100%;
    /* take full browser height */
    left: 0;
    top: 0;
}

.screen .main {
    width: 100%;
    /* <--now this takes full browser dimension  */
    height: 100%;
    /* <--now this takes full browser dimension  */
}

#app {
    /*background-color: pink;*/
    /*padding: 12px;*/
    max-width: 1050px;
    margin: 0 auto;
}

.text-container {
    text-align: start;
    /*margin: 0 auto 1em auto;*/
    /*border: 1px solid #000;*/
    /*border-radius: 5px;*/
    padding: 1em 1em 0 1em;
}

.website-container {
    /*margin: 0 auto;*/
    /*background-color: green;*/
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-bottom: 1.5em;
    /*justify-content: center;
    -webkit-justify-content: center;*/
}

.website {
    /*display: inline-flex;*/
    margin: 0.5em 1em;
    /*align-content: center;*/
}

.button {
    /*margin: 12px 4px;*/
    height: 40px;
    width: 80px;
    padding: 4px 10px;
    white-space: nowrap;
    display: inline-block;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    background: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .025em;
    color: #6772e5;
    text-decoration: none;
    transition: all .15s ease;
    text-align: center;
}

.button:hover {
    transform: translateY(-1px);
    color: #3c42a0;
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.cards-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.card {
    background: #fff;
    border-radius: 5px;
    height: 630px;
    width: 300px;
    margin: 20px;
    margin-bottom: 16px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .15s;
}

.card:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.card-header {
    padding: 8px;
    border-radius: 5px 5px 0 0;
    font-family: 'Fira Mono', monospace;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.card-body {
    height: 460px;
    padding: 0 16px 8px 16px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.tag {
    cursor: default;
    display: inline-block;
    margin: 4px 16px 4px 0;
    font-size: 12px;
    border: solid 1px #45ddff;
    border-radius: 4px;
    padding: 2px 4px;
}

.tag:hover {
    background: #eafbff;
    cursor: normal;
}

.icon {
    height: 100px;
    width: 100px;
}

.title {
    margin: 0 30px;
    font-weight: bold;
}

.description {
    font-family: "rooneysans-light";
    font-size: 14px;
    font-style: italic;
    margin: 12px 0 4px 0 !important;
    text-align: start;
}

.story {
    font-size: 16px;
    margin: 12px 0 4px 0 !important;
    text-align: start;
}

.card-body .button {
    margin: 0.3em 1em;
    width: 150px;
}

.funfact-container {
    margin-top: 50px;
    padding: 0 10px 4px 10px;
}

.funfact {
    font-size: 12px;
    text-align: center;
}

.text-container .funfactchip {
    font-family: "rooneysans-bold";
    font-size: 12px;
    display: inline-block;
    background-color: #b7b7b7;
    padding: 4px 4px;
    border-radius: 3px;
    color: white;
}

.funfactchip {
    font-family: "rooneysans-bold";
    font-size: 12px;
    display: inline-block;
    background-color: #b7b7b7;
    padding: 4px 4px;
    border-radius: 2px;
    color: white;
}

.link:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}
