@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

@font-face {
    font-family: 'rooneysans-heavy-italic';
    src: url('../fonts/rooney_sans_heavy_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-heavy';
    src: url('../fonts/rooney_sans_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-regular-italic';
    src: url('../fonts/rooney_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-light-italic';
    src: url('../fonts/rooney_sans_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-light';
    src: url('../fonts/rooney_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-medium-italic';
    src: url('../fonts/rooney_sans_medium_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-medium';
    src: url('../fonts/rooney_sans_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-regular';
    src: url('../fonts/rooney_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-black-italic';
    src: url('../fonts/rooney_sans_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-black';
    src: url('../fonts/rooney_sans_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-bold-italic';
    src: url('../fonts/rooney_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rooneysans-bold';
    src: url('../fonts/rooney_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
